* {
    margin: 0;
    padding: 0;
    }
.part1{
    display: flex;
    flex-direction:column;
    
}
.part1 .fitstpicture{
    width:375px; 
   
}
.part1 .across1{
    display: flex;
    flex-direction:row;
}
.part1 .across1 .text1{
  
    left: 12px;
top: 433px;
width: 353px;
height: 164px;
font-size: 14px;
text-align: left;
font-family: PingFangSC-regular;

}

.part1 .across1 .arrow1{
   
    width:75px; 
    right:1px;
}

.part1 .across2{
    display: flex;
    flex-direction:row;
}
.part1 .across2 .arrow2{
    
    width:175px; 
    left:5px;
}
.part1 .across2 .text2{
    top:50px;
text-align: right;
left: 12px;
top: 583px;
width: 342px;
height: 315px;
font-size: 14px;
font-family: PingFangSC-regular;
}
.part1 .wheelp .swiper-container .swiper-wrapper .swiper-slide{
    width:375px; 
}
.part1 .across3{
    display: flex;
    flex-direction:row;
}
.part1 .across3 .text3{
    top:50px;
    left: 12px;
top: 433px;
width: 353px;
height: 164px;
font-size: 14px;
text-align: left;
font-family: PingFangSC-regular;

}

.part1 .across3 .arrow3{
    
    width:175px; 
    right:5px;
}
.part1 .meatp{
    margin: auto;
    width:300px;
    left:500px;
}
.part1 .across4{
    display: flex;
    flex-direction:row;
}
.part1 .across4 .arrow4{
    
    width:175px; 
    left:5px;
}
.part1 .across4 .text4{
    top:200px;
    text-align: right;
    left: 12px;
    top: 583px;
    width: 342px;
    height: 315px;
    font-size: 14px;
    font-family: PingFangSC-regular;
    }
    .part1 .lastp{
        float:right;
        width:200px;
    }