@media screen and (min-width: 280px) {
  html {
    font-size: 18.66666667px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 411px) {
  html {
    font-size: 27.4px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 68.26666667px;
  }
}
body {
  min-width: 320px;
  margin: 0 auto;
  width: 15rem;
}
.first {
  margin-right: 40px;
  margin-bottom: 60px;
  float: right;
  width: 100%;
  color: #545454;
  font-size: 14px;
  text-align: right;
}
.second {
  margin-right: 5%;
  margin-top: 60px;
  float: right;
  width: 56%;
  color: #545454;
  font-size: 14px;
  text-align: right;
}
.third {
  margin-left: 30px;
  margin-top: 150px;
  margin-bottom: 60px;
  float: left;
  width: 60%;
  color: #545454;
  font-size: 14px;
  text-align: left;
}
